<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    {% if req %}
        <ul>
            <h1>{{ req.get_status_display }} request</h1>

            <li>Requester: {{ req.requester }}</li>
            {% if req.crafter == None %}
              <li>Crafter: Not claimed yet </li>
            {% else %}
              <li>Crafter: {{ req.crafter }}</li>
            {% endif %}
            
            <li>Item: {{ req.get_rarity_display }} Quality, {{ req.item_name}} [{{ req.get_crafting_discipline_display }}]  </li>
            <li>Quantity: {{ req.quantity }} </li>
            <li>Materials provided? {{ req.get_resource_provided_display }} </li>
            <li>Custom naming: {{ req.custom_name}} </li>
            <li>Stats: {{ req.stats }}</li>            
        </ul>
        
    {% endif %}
    <ul id="copyright">
      <center><li style="color:#fff">&copy; Lion Forge Guild 2021. Made by Bearsy. All rights reserved.</li></center>					
    </ul>

  </body>
</html>