<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>[-LFG-] Lion Forge Guild</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">
		

			<nav id="nav">
				<ul class="container">
					<li><a href="/">Home</a></li>
                    <li class='dropdown-more'><a href="#" onclick="return false">FAQ/Guides</a>
                        <div class="dropdown-content">
							<a href="#">Crowfall FAQ</a>
							<a href="https://community.crowfall.com/topic/31367-lfg-beginners-guide-to-gathering/">Gathering Guide</a>
                            <a href="https://community.crowfall.com/topic/31368-lfg-beginners-guide-to-crafting/">Crafting Guide</a>                            
                        </div>
                    </li>
					<li><a href="#">RP Rules & Style Guides</a></li>
					<li><a href="#">Bazaar</a></li>
                    <li><a href="recruitment/">Recruitment</a></li>
				</ul>
			</nav>

			<article id="top" class="wrapper style1">
				<div class="container opaque-container">
					<div class="row">
						<div class="col-4 col-5 col-12">
							<span class="image"><img src="{% static 'images/LFG_Banner_1.png' %}" alt="" /></span>
						</div>


						<!-- <div class="col-4 col-5-large col-12-medium">
							<span class="image"><img src="images/LFG_Banner_3.png" alt="" /></span>
						</div> -->
						<div class="col-12">
							<header>
								<h1>Welcome! </h1>

								<p>We are <strong> Lion Forge Guild</strong>.</p>
								<p>We’re a guild that operates in <a href="https://crowfall.com">Crowfall (A PvP Throne Wars MMORPG)</a> and we specifically run an Eternal Kingdom called <strong>The [-LFG-] Bazaar</strong>!</p>
                                   
							</header>
                            
                            <p> Our primary function is as an Economy based guild that provides low to moderate cost goods to newer players to help improve their experience. To that end, we run events like Auctions, Combat Tournaments, Mini-Game Days, Roleplay Centric Events and Hosting Roleplay Spaces within the Bazaar. And of course we work to provide content for all of our guild members ranging from Group Harvesting Runs to Full Scale Siege Warfare and everything Crowfall has to offer in between. </p>

							<p>	Carrying a legacy starting in 2018 this Crowfall Exclusive Guild is more than ready to get our paws into as much trouble as we can manage! </p>


							<center><a href="https://discord.gg/SaHDyCjZV5" class="button large scrolly"> <i class="fab fa-discord fa-1x"></i> Join Our Discord</a></center>
						</div>
					</div>
				</div>
				<ul id="copyright">
					<center><li style="color:#fff">&copy; Lion Forge Guild 2021. Made by Bearsy. All rights reserved.</li></center>					
				</ul>
			</article>
						
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>