<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>[-LFG-] Lion Forge Guild</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">
		

			<nav id="nav">
				<ul class="container">
					<li><a href="/">Home</a></li>
                    <li class='dropdown-more'><a href="#" onclick="return false">FAQ/Guides</a>
                        <div class="dropdown-content">
							<a href="#">Crowfall FAQ</a>
							<a href="https://community.crowfall.com/topic/31367-lfg-beginners-guide-to-gathering/">Gathering Guide</a>
                            <a href="https://community.crowfall.com/topic/31368-lfg-beginners-guide-to-crafting/">Crafting Guide</a>                            
                        </div>
                    </li>
					<li><a href="#">RP Rules & Style Guides</a></li>
					<li><a href="#">Bazaar</a></li>
                    <li><a href="recruitment/">Recruitment</a></li>
				</ul>
			</nav>

			<article id="top" class="wrapper style1">
				<div class="container opaque-container">
					<div class="row">
						<!-- <div class="col-12">
							<span class="image"><img src="images/LFG_Banner_1.png" alt="" /></span>
						</div> -->


						<div class="col-4 col-5-large col-12-medium">
							<span class="image"><img src="{% static 'images/LFG_Banner_3.png' %}" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<h2>How do I know if this guild is right for me?</h2>  
                            
                            <p> Altybear says "I want interactive players. I want players who above all else want to engage with people, be friendly in all chat, enjoy chatting in Discord in voice or text. I don’t mind if you don’t understand the game yet, that can easily be learned. I don’t want people who declare themselves kings of PvP or players who are so focused on their own improvement they isolate themselves from the rest of the guild. I’d prefer the players who are happy running a little shop in a bustling marketplace. I’d prefer the players who think it’d be fun to make some crazy combat builds that are likely so bad they do negative DPS. I’m not here to have Crowfall tell me how I should enjoy the game, I’m here to discover in how many ways I can enjoy Crowfall. And if you’re of the same mindset, I’d love you in the guild." </p>
                            <p> If this sounds like you or an environment that you'd like to participate in, then please, reach out to us and say hello! </p>

							<center><a href="https://community.crowfall.com/topic/31359-lfg-lion-forge-guild/" class="button large scrolly"><i class="fas fa-crow"></i> Our Recruitment Post</a>
                                    <a href="https://discord.gg/SaHDyCjZV5" class="button large scrolly"> <i class="fab fa-discord fa-1x"></i> Join Our Discord</a>
                            </center>
						</div>
					</div>
				</div>
				<ul id="copyright">
					<center><li style="color:#fff">&copy; Lion Forge Guild 2021. Made by Bearsy. All rights reserved.</li></center>					
				</ul>
			</article>
			
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>